<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="scrumfish">
      <section name="simpleProvider"
               type="Scrumfish.WebApi.v2.Objects.Config.SimpleProviderSection, Scrumfish.WebApi.v2.Objects" />
    </sectionGroup>
  </configSections>
  <scrumfish>
    <simpleProvider>
      <users>
        <add userName="First User"
             certificate="a certificate base64 encoded">
          <claims>
            <add key="claim1"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
                 value="first.user@example.com"/>
            <add key="claim2"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"
                 value="userfi001@domain.example.com"/>
            <add key="claim3"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="User"/>
            <add key="claim4"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="PowerUser"/>
          </claims>
        </add>
        <add userName="Second User"
             certificate="some certificate text base64 encoded">
          <claims>
            <add key="claim1"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
                 value="second.user@example.com"/>
            <add key="claim2"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"
                 value="userse0039@domain.example.com"/>
            <add key="claim3"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="User"/>
            <add key="claim4"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="Administrator"/>
            <add key="claim5"
                 claim="http://schemas.scrumfish.com/ws/2016/03/rock/acdc"
                 value="Back in Black"/>
          </claims>
        </add>
        <add userName="Third User"
             thumbprint="a thumbprint">
          <claims>
            <add key="claim1"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
                 value="third.user@example.com"/>
            <add key="claim2"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"
                 value="three0039@domain.example.com"/>
            <add key="claim3"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="User"/>
            <add key="claim4"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="Mega User"/>
            <add key="claim5"
                 claim="http://schemas.scrumfish.com/ws/2016/03/rock/vanhalen"
                 value="Outta Love Again"/>
          </claims>
        </add>
      </users>
    </simpleProvider>
  </scrumfish>
</configuration>