<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="scrumfish">
      <section name="simpleProvider"
               type="Scrumfish.WebApi.v2.Objects.Config.SimpleProviderSection, Scrumfish.WebApi.v2.Objects" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="scrumfish.WebApi.v2.AuthenticationProvder" value="Scrumfish.WebApi.v2.Providers.SimpleProvider, Scrumfish.WebApi.v2.Providers"/>
    <add key="scrumfish.WebApi.v2.Enabled" value="false"/>
    <add key="scrumfish.SimpleProvider.ValidationMode" value="DatesOnly"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <scrumfish>
    <simpleProvider>
      <users>
        <add userName="Expired User"
             certificate="-----BEGIN CERTIFICATE-----MIICITCCAY6gAwIBAgIQXs0zFOh4watPhS2A0jqC8TAJBgUrDgMCHQUAMB4xHDAaBgNVBAMTE2V4cGlyZWQuZXhhbXBsZS5jb20wHhcNMTAwNTEwMDcwMDAwWhcNMTExMjIyMDcwMDAwWjAeMRwwGgYDVQQDExNleHBpcmVkLmV4YW1wbGUuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCT5cXDcqNHp5PEVi7m2h9rQkMwfLNadLeyNkw7hid3B6fJ/aYCqLFEFeS6oIDtgqs74N1cAP3ojGlrv3hWr9obe64KbrAqFoLlddyWOEQ2R65nvQzTmPCuVOfr9xk4U6yZnqTWnMKKO5KJRu21G9oXmvBhWZ2trtlf+vP45bp4PwIDAQABo2gwZjATBgNVHSUEDDAKBggrBgEFBQcDATBPBgNVHQEESDBGgBDoD49/pIw0WSo702dqq3zGoSAwHjEcMBoGA1UEAxMTZXhwaXJlZC5leGFtcGxlLmNvbYIQXs0zFOh4watPhS2A0jqC8TAJBgUrDgMCHQUAA4GBAHi/V1j++L46C+fA0h79dLB8TA0fu3DecV0WVSHKiSbr3sKwY4FEXhxKnGF5O8yIExawW3t9h0mS4H6R8Cc50hhoGKqTm7CZwslBN1xpusBmi65Tvzynpa+z3Fldlgs6r6dbEmH8tlWh/madkMcXaDvOpu4Y0yBouVJysKsvoBf2-----END CERTIFICATE-----">
          <claims>
            <add key="claim1"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
                 value="expired.user@example.com"/>
            <add key="claim2"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"
                 value="userfi001@domain.example.com"/>
            <add key="claim3"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="User"/>
            <add key="claim4"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="PowerUser"/>
          </claims>
        </add>
        <add userName="Valid User"
             certificate="-----BEGIN CERTIFICATE-----MIICGzCCAYigAwIBAgIQ/kSPBbS02rNDCwvlLTIV6TAJBgUrDgMCHQUAMBwxGjAYBgNVBAMTEXZhbGlkLmV4YW1wbGUuY29tMB4XDTEwMDUxMDA3MDAwMFoXDTI5MTIyMjA3MDAwMFowHDEaMBgGA1UEAxMRdmFsaWQuZXhhbXBsZS5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALkQg7ESax6wXu4Xe0aub1NtPP3dgOLdOoMWflgn7qy2QFBbGW2/DCS/FZnnJ0Ui7zTTZcVqi0MooBvopD3NlSblwM6TwNjruBglbUaQMUuIthb95fpQhvBfHPohtfSRGXiGdrkV9tdCaTNLedbwnsIsijRF/tSP8QeV9iRLQuL1AgMBAAGjZjBkMBMGA1UdJQQMMAoGCCsGAQUFBwMBME0GA1UdAQRGMESAEN/diG75u0ukgZfEWlDyuh+hHjAcMRowGAYDVQQDExF2YWxpZC5leGFtcGxlLmNvbYIQ/kSPBbS02rNDCwvlLTIV6TAJBgUrDgMCHQUAA4GBAG16q8GdgUa0Sy1r8+rJ9kKCT9FBQZwj9QZIenE5iiuSXcugJse3zq2RxVutn4KqcvUgVe798FXfpc1yKPVIUci8Qr7h35I4xT83UBCLCM1NjileAoEs/mqkigdfKUgEhopmnBpPWqysXfxX+eYXu97zNAMHjA15Xn6y606LP6RJ-----END CERTIFICATE-----">
          <claims>
            <add key="claim1"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
                 value="valid.user@example.com"/>
            <add key="claim2"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"
                 value="userse0039@domain.example.com"/>
            <add key="claim3"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="User"/>
            <add key="claim4"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="Administrator"/>
            <add key="claim5"
                 claim="http://schemas.scrumfish.com/ws/2016/03/rock/acdc"
                 value="Back in Black"/>
          </claims>
        </add>
        <add userName="Thumbprint User"
               thumbprint="d23f96221753521d8264533efacb9af3b0f82a5a">
          <claims>
            <add key="claim1"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
                 value="thumbprint.user@example.com"/>
            <add key="claim2"
                 claim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"
                 value="thumb0042@domain.example.com"/>
            <add key="claim3"
                 claim="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                 value="Manager"/>
            <add key="claim54"
                 claim="http://schemas.scrumfish.com/ws/2016/03/rock/acdc"
                 value="Spellbound"/>
          </claims>
        </add>
      </users>
    </simpleProvider>
  </scrumfish>
</configuration>